* {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, #root {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

:root {
  font-family: 'Fira Sans Condensed';
  line-height: 1.5;
  font-weight: 400;
  --dark: #30332d;
  --darksteel: #686862;
  --steel: #cecdc7;
  --bone: #f9f4de;
  --white: #ffffff;
  --leaf: #95ce63;
  --coral: #eab063;
  --radius-primary: 2px;
  
  --fonts-size-h1: 2rem;
  --fonts-size-h2: 1.7rem;
  --fonts-size-h3: 1.5rem;
  --fonts-size-p: 1rem;
  --fonts-size-p-sm: 0.8rem;

  --xs: 420px;
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;

  --left-padding: 10%;
}

h1 { font-size: var(--fonts-size-h1); }
h2 { font-size: var(--fonts-size-h2); }
h3 { font-size: var(--fonts-size-h3); }
p { font-size: var(--fonts-size-p); }

a {
  text-decoration: none;
  color: var(--dark);
}

ul {
  list-style: none;
}

.section {
  position: relative;
  min-height: 85vh;
  padding: 50px 30px;
}

.separator {
  width: 95%;
  height: 2px;
  background-color: var(--steel);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.separator-sm {
  width: 40px;
  height: 2px;
  background-color: var(--dark);
  margin: 20px 0 30px;
}

