* {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--dark);
}

body, #root {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

:root {
  font-family: 'Fira Sans Condensed';
  line-height: 1.5;
  font-weight: 400;
  --dark: #30332d;
  --darksteel: #686862;
  --steel: #b4bdaa;
  --bone-1: #e9e1bd;
  --bone: #f9f4de;
  --white: #ffffff;
  --leaf: #95ce63;
  --lightleaf: #c8eba9;
  --coral: #eab063;
  --radius-primary: 2px;
  
  --fonts-size-p: 1rem;
  --fonts-size-p-sm: 0.8rem;
  --fonts-size-p-xsm: 0.7rem;

  --xs: 420px;
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;

  --left-padding: 10%;
}

p { font-size: var(--fonts-size-p); }

a {
  text-decoration: none;
  color: var(--dark);
}

ul {
  list-style: none;
}

.section {
  position: relative;
  min-height: 85vh;
  padding: 40px 30px 60px;
  @media (max-width:600px) { 
    // min-height: inherit;
    padding: 20px 15px;
  }
  & > h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin: 0 auto 25px;
  }
  & > h3 {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin: 10px auto;
  }
}

.separator {
  width: 95%;
  height: 2px;
  background-color: var(--steel);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.separator-sm {
  width: 35px;
  height: 2px;
  background-color: var(--dark);
}

.--hide-on-tablet {
  @media (max-width: 600px) { 
    display: none;
  }
}

.--show-on-tablet {
  @media (max-width: 600px) { 
    display: block!important;
  }
}

/* SCROLL -------------------- */
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0.3);
  border-radius: 7px;
}
::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.5);
  border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.4);
}